*{padding: 0;margin: 0;}
html,body{width: 100%; height: 100%; }
.left{position:fixed;top: 0;left: 0;bottom: 0;background-color: #222c3c;width: 350px;}
.right{
    position: relative;
    margin-left: 350px;
    height: 100%;
}
.nav1{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: #1d2531;
}
.nav2{
    margin-left: 100px;
    height: 100%;
    overflow-y:scroll;
}
.nav3{
    height: 80px;
    border-bottom: 1px solid #e6e9ec;
}
.main{
    position: absolute;
    /* height: 100%; */
    width: 100%;
    top: 81px;
    bottom: 0;
}
.m-left{
    width: 399px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #e6e9ec;
}
.m-right{
    position: relative;
    margin-left: 400px;
    height: 100%;
}
.m-l-top,.m-r-top{
    height: 70px;
    border-bottom: 1px solid #e6e9ec;
}
.m-l-content,.m-r-content{
    position: absolute;
    top: 71px;
    width: 100%;
    bottom: 0;
    overflow-y:scroll;
}
.nav2::-webkit-scrollbar,.m-l-content::-webkit-scrollbar,.m-r-content::-webkit-scrollbar{
    display: none;
}

.nav1 li{
    list-style: none;
    display: block;
    padding-top:20px;
    text-align: center;
}
.nav1 li a{
    display: inline-block;
    width: 60px;
    height: 60px;
}

.nav2 .menu{
    display: block;
    padding: 30px;
    border-bottom: 1px solid #2a3547;
}
.nav2 .title{
    color: #5b6779;
    font-weight: bold;
}
.nav2 .op{
    margin-top: 5px;
}
.nav2 .op li{
    list-style: none;
    padding-top: 25px;
    color: #b7c0cd;
}
.nav3 .title{
    margin-left: 30px;
    float: left;
    padding-top: 24px;
    vertical-align: middle;
    font-size: 24px;
}
.nav3 .me{
    float: right;
}
.m-l-top input{
    margin-left: 30px;
    margin-top: 15px;
    height: 36px;
    width: 340px;
    border:1px solid #e5e8ee;
    border-radius: 9px;
    padding: 0 7px;
}
.m-l-content li{
    padding: 15px 30px;
    border-bottom: 1px solid #e6e9ec;
}
.h{
    overflow: hidden;
}
.m-l-content .head,.m-l-content .name{
    float: left;
}
.m-l-content .time{
    padding-top: 4px;
    float: right;
}
.m-l-content p{
    margin-right: 20px;
}
.m-r-top .title{
    float: left;
    padding: 24px 0 0 28px;
}
.m-r-top .botton{
    float: right;
    height: 100%;
    padding-top: 24px;
}
.m-r-top .botton button{
    padding: 3px 6px;
}
.m-r-content li{
    padding: 25px 30px 0 30px;
    border-bottom: 1px solid #d9dde3;
    list-style: none;
    position: relative;
}
.m-r-content .head{
    float: left;
}
.m-r-content .b{
    margin-left: 65px;
}
.m-r-content span{
    color: #585d68;
}
.m-r-content .c{
    padding-bottom: 25px; 
}
.m-r-content .time{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.m-r-content .time span{
    background-color: white;
    padding: 0 9px;
}