*{padding: 0;margin: 0;}
html,body{width: 100%; height: 100%; }
.left{position:fixed;top: 0;left: 0;bottom: 0;background-color: #222c3c;width: 350px;}
.right{
    position: relative;
    margin-left: 350px;
    height: 100%;
}
.nav1{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: #1d2531;
}
.nav1 .foot{
    position: absolute;
    bottom: 20px;
    padding: 0 15px;
}
.nav1 .foot a{
    padding: 0 8px;
}
.nav2{
    margin-left: 100px;
    height: 100%;
    overflow-y:scroll;
}
.nav2 .foot{
    font-size: 14px;
    margin-top: 300px;
    padding: 0 30px;
    color: white;
}
.nav2 .percentage{
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: #2d3848;
    margin: 14px 0 23px;
}
.nav2 .percentage i{
    display: block;
    width: 20%;
    height: 4px;
    border-radius: 3px;
    background-color: #8c72e4;
}
.nav3{
    height: 80px;
    border-bottom: 1px solid #e6e9ec;
}
.main{
    position: absolute;
    /* height: 100%; */
    width: 100%;
    top: 81px;
    bottom: 0;
}
.m-left{
    width: 399px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #e6e9ec;
}
.m-right{
    position: relative;
    margin-left: 400px;
    height: 100%;
}
.m-right .button button{
    width: 35px;
    height: 30px;
}
.m-right .button div{
    display: inline-block;
    border-right: 1px solid #eee;
    margin: 0 20px;
    height: 25px;
}
.m-right .button span{
    padding-right: 15px;
}
.m-l-top,.m-r-top{
    height: 70px;
    border-bottom: 1px solid #e6e9ec;
}
.m-l-content,.m-r-content{
    position: absolute;
    top: 71px;
    width: 100%;
    bottom: 40px;
    overflow-y:scroll;
}
.m-right .respone{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    text-align: center;
}
.m-right .respone button,.m-right .respone input{
    height: 30px;
    box-sizing: border-box;
}
.m-right .respone button{
    width: 30px;
}
.m-right .respone input{
    width: 80%;
}
.nav2::-webkit-scrollbar,.m-l-content::-webkit-scrollbar,.m-r-content::-webkit-scrollbar{
    display: none;
}

.nav1 li{
    list-style: none;
    display: block;
    padding-top:20px;
    text-align: center;
}
.nav1 li a{
    display: inline-block;
    width: 60px;
    height: 60px;
}

.nav2 .menu{
    display: block;
    padding: 30px 0;
    margin: 0 30px;
    border-bottom: 1px solid #2a3547;
}
.nav2 .menu:last-child{
    border: none;
}
.nav2 .title{
    color: #5b6779;
    font-weight: bold;
}
.nav2 .title a{
    background-image: url(1-6.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    position: relative;
    top: 2px;
}
.nav2 .op{
    margin-top: 5px;
}
.nav2 .op span{
    padding: 5px 10px;
    background-color: #2198f0;
    float: right;
    border-radius: 20px;
    font-size: 10px;
    color: white;
}
.nav2 .op li{
    list-style: none;
    padding-top: 25px;
    color: #b7c0cd;
}
.nav2 .danger:after{
    content: " ";
    display: inline-block;
    background-image: url(2-1.png);
    width: 24px;
    height: 24px;
    float: right;
}
.nav3 .title{
    margin-left: 30px;
    float: left;
    padding-top: 24px;
    vertical-align: middle;
    font-size: 24px;
}
.nav3 .me{
    float: right;
    padding: 15px 30px 0 0;
    color: #b5b5b5;
}
.nav3 .head{
    height: 50px;
    width: 50px;
    margin-right: 15px;
    position: relative;
}
.nav3 .head img{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.nav3 .head div{
    padding: 3px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 25px;
    line-height: 14px;
}
.nav3 .head i{
    display: inline-block;
    padding: 4px;
    border: 3px solid #38a76a;
    border-radius: 10px;
}
.nav3 .head,.nav3 .name,.nav3 .drop{
    float: left;
}
.nav3 .me .name{
    padding-top: 3px;
    margin-right: 8px;
}
.nav3 .me .name a,.nav3 .me .name span{
    display: block;
}
.nav3 .me .name a{
    color: #2399f1;
    text-decoration: none;
}
.nav3 .drop{
    transform: rotate(270deg);
    font-size: 26px;
    height: 26px;
    padding-right: 22px;
}
.m-l-top input{
    margin-left: 30px;
    margin-top: 15px;
    height: 36px;
    width: 340px;
    border:1px solid #e5e8ee;
    border-radius: 9px;
    padding: 0 7px;
}
.m-l-content li{
    padding: 15px 30px;
    border-bottom: 1px solid #e6e9ec;
    position: relative;
}
.m-l-content .name{
    margin-left: 20px;
}
.m-l-content .name p {
    color: #b5b5b5;
}
.m-l-content .b{
    position: relative;
}
.m-l-content .b span{
    background-color: #2399f1;
    position: absolute;
    top: 9px;
    right: 0;
    padding: 2px 8px;
    border-radius: 13px;
    color: white;
}
.m-l-content li.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #2399f1;
}
.m-l-content li.active .name{
    color: #2399f1;
}
.m-l-content li.active .name::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #2399f1;
}
.h{
    overflow: hidden;
}
.m-l-content .head,.m-l-content .name{
    float: left;
}
.m-l-content .time{
    padding-top: 4px;
    float: right;
}
.m-l-content p{
    margin-right: 20px;
}
.m-r-top .title{
    float: left;
    padding: 24px 0 0 28px;
}
.m-r-top .title::after{
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #1bb934;
    border-radius: 10px;
}
.m-r-top .button{
    float: right;
    padding-top: 24px;
}
.m-r-top .button button{
    padding: 3px 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f4f7;
    border: 1px solid #e6e9ec;
    /* background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#f2f4f7)); */
}
.m-r-top .button .user{
    background-image: url(4-2.png)
}
.m-r-top .button .up{
    background-image: url(4-3.png)
}
.m-r-top .button .delet{
    background-image: url(4-4.png)
}
.m-r-top .button .l{
    background-image: url(4-5.png)
}
.m-r-top .button .r{
    background-image: url(4-6.png)
}
.m-r-content li{
    padding: 25px 30px 0 30px;
    border-bottom: 1px solid #d9dde3;
    list-style: none;
    position: relative;
}
.m-r-content .head{
    float: left;
}
.m-r-content .b{
    margin-left: 65px;
}
.m-r-content span{
    color: #585d68;
}
.m-r-content .c{
    padding-bottom: 25px; 
}
.m-r-content .time{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.m-r-content .time span{
    background-color: white;
    padding: 0 9px;
}